<h1 class="white text-centered">Conclusion </h1>
<div class="">
    <div class="p-container white-bg">
        <h3>September 9, 2023</h3>

        <p><em>A poem I wrote with the members of the Creative Writing Group</em></p>
        <br/>
        <p>
            As a child you played with ant hills
        </p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;sprawled on all fours
        </p>
        <p>while your mother fawned and cooed
        </p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;and your aunt looked on from atop a swinging chair	
        </p>
        <br/>
        <p>You stepped outside every morning
        </p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to note that the porch seemed smaller, smaller
        </p>
        <p>and the wooden planks receded into the rotted foundation
        </p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;creaking with every step 	
        </p>
        <br/>

        <p>At night your mother ran her fingers through her hair     
        </p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;collecting oils—fine and sweet—
        </p>
        <p>and the pipes squeaked while the water ran down, down
        </p>
        <p>	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;over slender hairs pooling atop the drain 
        </p>
        <br/>

        <p>From the porch you viewed a distant mountain 
        </p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	spanning beyond the ends of the porch
        </p>
        <p>
            its face grinned at yours 
        </p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; grinning back.
        </p>
    </div>
</div>
<div class="next-link animate__animated animate__fadeInUp">
    <a href="/cited">Click to continue</a>
</div>    
