<div class="animate__animated animate__fadeInUp">
    <h1 class="white text-centered">II. Writing Is Compulsory</h1>
    <div class="p-container">
        <p>In my third year of college I took an Advanced Writing course, and I wrote the following as a response to the prompt <em>Reflect upon a past work of your writing:</em> </p>
        <p class="white-bg"><em> From an early age, it was ingrained in me, and probably many others, that for a student to choose to be an English major, they have to want to be an English major. Perhaps, with this notion lurking in the back of my mind throughout my college life, my disdain, and even hatred, for writing snowballed into something greater…. Struggling at a practice that is such a fundamental part of my choice of study felt like a blaring sign that I had made a mistake in my decision. </em></p>
        <p>Upon re-reading this piece, I paused on this particular section. I had not felt this way about writing in a long time…</p>
    </div>
    <div class="p-container tangerine">
        vita 
    </div>
    <div class="next-link">
        <a href="/p3">Click to continue</a>
    </div>    
</div>