<div class="">
    <h1 class="white text-centered">II. Writing</h1>
    <div class="p-container">
        <h3>ENGW 3315, Spring 2023</h3>

        <p>From an early age, it was ingrained in me, and probably many others, that for a student to choose to be an English major, they have to <em>want</em> to be an English major. Perhaps, with this notion lurking in the back of my mind throughout my college life, my disdain, and even hatred, for writing snowballed into something greater. Struggling at a practice that is such a fundamental part of my choice of study felt like a blaring sign that I had made a mistake in my decision. </p>
    </div>
    <div class="next-link animate__animated animate__fadeInUp">
        <a href="/p3">Click to continue</a>
    </div>    
</div>