img {
    height: 50vh;
    &:hover {
        border: 1em dashed rgb(173, 35, 35);
    }
}

.red-container {
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.red {
    color: rgb(173, 35, 35);
}

.animate__animated.animate__fadeIn {
    --animate-duration: 10s;
  }
  