<div class="animate__animated animate__backInRight">
    <h1 class="white text-centered">I. Pandemic Lives</h1>
    <div class="p-container ">
        <p>I felt like I had been sleeping for a year. For months I rested under my parents’ roof, and as the days began to melt into one another, a haze began to cloud my mind, and I found myself in bed, lying still. Recalling this period in my life always comes with a nauseating sweetness--the sinking of the mattress, the slant of light peering through the curtains, fine layers of dust. Through the window, across the street, I could see the neighbors roaming indoors. I looked down to a street full of cars, parked and motionless, save for the swarm of delivery trucks driving by every day. </p>
    </div>
    <img src="/assets/reddeath.jpg"/>

    <div class="next-link animate__animated animate__fadeInUp">
        <a href="/p2">Click to continue</a>
    </div>    
</div>
