<h1 class="white text-centered">Works Cited</h1>
<div>
    <a href="https://shop.scholastic.com/teachers-ecommerce/teacher/books/rubys-wish-9780439699907.html"><p>Bridges, Shirin Yim. <em>Ruby’s Wish</em>. 2002. Chronicle Books, 2015.</p> </a>
    <a href="https://penguinrandomhousehighereducation.com/book/?isbn=9780142437346"><p>Joyce, James. A Portrait of the Artist as a Young Man. 1916. Penguin Classics, 2003.</p></a>
    <a href="https://global.oup.com/academic/product/the-world-according-to-proust-9780197648681?cc=us&lang=en&"><p>Landy, Joshua. <em>The World According to Proust</em>. Oxford University Press, 2022. Kindle Edition.</p>
    </a>
    <a href="https://www.simonandschuster.com/books/The-Paper-Menagerie-and-Other-Stories/Ken-Liu/9781481424363"> <p>   Liu, Ken. “The Paper Menagerie.” 2011.</p>
    </a>
    <a href="https://www.penguinrandomhouse.com/books/198090/zami-a-new-spelling-of-my-name-by-audre-lorde/">  <p>  Lorde, Audre. <em>Zami: A New Spelling of My Name</em>. Crossing Press, 1982.</p>
    </a>
    <a href="https://poemuseum.org/the-masque-of-the-red-death/"><p>
        Poe, Edgar Allan. “The Masque of the Red Death.” 1842.
</p>
    </a>
    <a href="https://www.penguinrandomhouse.com/books/292003/swanns-way-by-marcel-proust/">   <p> Proust, Marcel. <em>Swann’s Way</em>. 1913. Penguin Classics, 2000.</p>
    </a>
    <a href="https://wwnorton.com/books/9780393886177">  <p>  Wheatley, Phillis. “To S. M., a Young African Painter, on Seeing His Works.” The Norton Anthology of American Literature: Volume A: Beginnings to 1820. Ninth Edition. Ed. Robert S. Levine et al. New York: W.W. Norton, New York, 2017. pp. 790-96.</p>
    </a>
    <a href="https://www.harpercollins.com/products/orlando-virginia-woolf?variant=40969068150818"><p>
        Woolf, Virginia. <em>Orlando: A Biography</em>. 1928. Mariner Books, 1973.</p>
    </a>
    
</div>