<h1 class="white text-centered">IV. Thinking In Hierarchies</h1>
<h3 class="white">Intro to Literary Studies, Fall 2020</h3>
<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQLFnk820Nnbz0EglAgc-3HCQAYIr6UcBtbqdSY8bvbDZV5PngGTw1X-hBo4zX0Uw/embed?start=false&loop=true&delayms=5000" frameborder="0" width="100%" height="749" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
<div class="next-link animate__animated animate__fadeInUp">
    <a href="/p5">Click to continue</a>
</div>    
