<h1 class="white text-centered">IV. Stories That Made Me Cry</h1>
<div class="p-container">
    <p>When I was a child, my mother would read to me children’s books before bedtime. A book I would often pick was <em>Ruby’s Wish</em>, purely for the amusement I found in my mother’s reaction to it. Every single time she read this book, she would burst into tears. </p>
    <p>
        <em>Ruby’s Wish</em> is the tale of a young girl in China who wished to go to college. For the longest time it was assumed she would be married off instead of being able to pursue her dreams. The book ends with a heartfelt conversation, where Ruby is granted a spot at a university (Bridges).
    </p>
    <p>
        At the time, I didn’t understand why this story made my mother so emotional. Perhaps the role of housewife was so outside the scope of my imagination. I did play house with my friends as a child, but I suppose I didn’t yet understand how some could view the domestic role as a hindrance to the pursuit of other paths, other dreams. 
    </p>
</div>
<div class="p-container tangerine">
    <p>
        In my Creative Writing course we read Ken Liu’s award-winning short story “The Paper Menagerie.” While categorized as a work of fiction, Liu’s story spoke of a cultural disconnect between a mother and her mixed-race son. The tale places a twist of magic on a typical story of assimilation. The narrator’s mother passes away, and he stumbles across a scrawled note to him in one of the origami animals his mother would make for him. 
    </p>
    <div class="white-bg">
        <p><em>Son, I know that you do not like your Chinese eyes,
            which are my eyes. I know that you do not like your
            Chinese hair, which is my hair. But can you understand
            how much joy your very existence brought to me? And can
            you understand how it felt when you stopped talking to me
            and won’t let me talk to you in Chinese? I felt I was losing
            everything all over again.</em>
            </p>
            <p><em>Why won’t you talk to me, son? The pain makes it
                hard to write </em>(Liu 9).</p>
    </div>
    <p>
        I saw this idea recur in our reading of Audre Lorde’s <em>Zami</em>. For my in-class presentation, I selected the following excerpt from the biomythography:
    </p>
    <div class="white-bg"><p>
        <em>When I moved out of my mother’s house, shaky and determined, I began to seek some different relationship to this country of our sojourn. I began to seek some more fruitful return than simple bitterness from this place of my mother’s exile, whose streets I came to learn better than my mother had ever learned them. But thanks to what she did know and could teach me, I survived in them better than I could have imagined. I made an adolescent’s wild and powerful commitment to battling in my own full eye, closer to my own strength, which was after all not so very different from my mother’s. And there I found other women who sustained me and from whom I learned other loving. How to cook the foods I had never tasted in my mother’s house. How to drive a stick-shift car. How to loosen up and not be lost</em> (Lorde 104).
    </p>
    </div>
    <p>
        I began to see a pattern – children of immigrants pausing to question their identities only in light of their separation from them, children growing to appreciate their parents only when they are gone. This made me look into my own relationships and my own concerns with my heritage and my identity. I pondered my grandfather, the stoic figure who’s past I realized I knew nothing about: 

    </p>
</div>
<div class="p-container white-bg poem">
    <h3>
        Man From Seoul
    </h3>
    <p>lays in bed, watching TV.
    </p>
    <br/>
    <p>A cigarette teetering on
    </p>
    <p>the edge of the nightstand.
    </p>
    <br/>
    <p>I am 12, standing in
    </p>
    <p>the doorway, staring
    </p>
    <br/>
    <p>quietly, at his stillness. The wrinkled
    </p>
    <p>hands. The glossy eyes that look Elsewhere.
    </p>
    <br/>
    <p>And for a moment, I see him--
    </p>
    <p>Gunshots ring over the
    </p>
    <br/>
    <p>chatter of the TV. Ripe wound above the knee.
    </p>
    <p>DMZ stories I could not comprehend.
    </p>
    <br/>
    <p>His head turns, speaking
    </p>
    <p>in a tongue I was meant for, but
    </p>
    <br/>
    <p>never learned. I only walk to him when
    </p>
    <p>he beckons me with a wrinkled finger–
    </p>
    <br/>
    <p>I could not comprehend. 
    </p>
<p>   He speaks. The TV blares.
</p>
</div>
<div class="p-container">

</div>
<div class="next-link animate__animated animate__fadeInUp">
    <a href="/conclusion">Click to continue</a>
</div>    
