<div class="toolbar">
  <a href=""><img src="/assets/homeicon.png"></a>
  <div class="spacer"></div>
  <a href="/statement"><span>Introduction</span></a>
  <a href="/p1"><span>I</span></a>
  <a href="/p2"><span>II</span></a>
  <a href="/p3"><span>III</span></a>
  <a href="/p4"><span>IV</span></a>
  <a href="/p5"><span>V</span></a>
  <a href="/conclusion"><span>Conclusion</span></a>
  <!-- <a href="/p7"><span>VII</span></a> -->
  <a href="/cited"><span>Works Cited</span></a>

</div>
<div class="main-content">
  <router-outlet></router-outlet>
</div>