<div class="toolbar">
  <a href=""><img src="/assets/homeicon.png"></a>
  <div class="spacer"></div>
  <a href="/statement"><span>Introduction</span></a>
  <a href="/p1"><span>I</span></a>
  <a href="/p2"><span>II</span></a>
  <a href="/p3"><span>III</span></a>
  <a href="/p4"><span>IV</span></a>
  <a href="/cited"><span>Works Cited</span></a>

  <!-- <button (click)="clickNav('cited')"><span>Works Cited</span></button> -->
</div>
<div class="main-content">
  <router-outlet></router-outlet>
  <!--<div class="bottom-link">
    <a class="next-link m-0" href="p1">
      <i class="fa-solid fa-arrow-left"></i>
      <span>Next</span>
    </a>  
    <button *ngIf="phase == 'cited'" class="next-link m-0" (click)="clickNav('project')">
      <i class="fa-solid fa-arrow-left"></i>
      <span>Click here to return to the Final Project page</span>
    </button>  
    <div class="spacer"></div>
    <button *ngIf="phase == 'start'" class="next-link m-0" (click)="clickNav('project')">
      <span>Click here to advance to the Final Project page</span>
      <i class="fa-solid fa-arrow-right"></i>
    </button>
    <button *ngIf="phase == 'project'" class="next-link m-0" (click)="clickNav('cited')">
      <span>Click here to advance to the Works Cited page</span>
      <i class="fa-solid fa-arrow-right"></i>
    </button>   -->
</div>