div.main-content {
    padding: 4em 15em;
}

.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: rgb(194, 194, 194);
    color: black;
    font-weight: 600;
  }

button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px;
    margin: .5em;
}

button:hover {
    color: rgb(99, 98, 96) ;
}


.spacer {
    flex: 1;
}

span.title {
    margin-left: 1em;
    font-size: 1.5em;
}

.bottom-link {
    display: flex;
    flex-direction: row;
    button {
        background-color: rgb(194, 194, 194);
        border-radius: .5em;
        padding: .5em 1em;
    }
    i {
        margin: 0 .5em;
    }
}