

div.main-content {
    padding: 4em 10em 0em 10em;
}

.toolbar {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: var(--dark-gray);
    color: var(--off-white);
    font-weight: 600;

    a {
        padding: 1em;
        font-size: 12px;
        font-weight: 200;
    }

    a:hover {
        border-bottom: 5px solid var(--dark-blue);
        transition: .1s linear;
    }
  }

.toolbar img {
    width: 2em;
}

a {
    padding: 5px;
    margin: .5em;
    color: var(--off-white);
    text-decoration: none;
}



.spacer {
    flex: 1;
}

span.title {
    margin-left: 1em;
    font-size: 1.5em;
}

.bottom-link {
    display: flex;
    flex-direction: row;
    a {
        background-color: rgb(194, 194, 194);
        border-radius: .5em;
        padding: .5em 1em;
    }
    i {
        margin: 0 .5em;
    }
}


