<div *ngIf="phase =='start'" class="intro-container">
    <h3 class="m-0">Literature & Memory: ENGL 4710</h3>
    <h1 class="m-0">Proust and Understanding the Self</h1>
    <h3 class="m-0">Final Project by Ally Choung</h3>
    <div class="p-container">
        <h2 class="m-0">Introduction</h2>
        <p>This website documents my memories and experiences as an undergraduate student in Northeastern's 
            English program. During our Literature and Memory capstone seminar, my peers and I read and 
            discussed Marcel Proust's <em>Swann's Way</em>, the first volume of his lifetime's 
            work <em>In Search of Lost Time</em>. With the help of the theoretical framework provided in Joshua 
            Landy's <em>The World According to Proust</em>, we examined Proust's writing style, his connection to art, and 
            how memory operates within the narrative of <em>Swann's Way</em>. I was particularly interested in
            Landy's idea of a kaleidoscopic view of the self--how one's past selves, both in the 
            spatial and temporal sense, merge to form a singular fractured image. 
        </p>
        <p>
            I will reflect on my experiences, both the academic and the personal, over the last four years, using 
            a Proustian framework of memory to narrate my college life. Throughout this project I take a 
            look at what I have written over the past few years, from scholarly papers to 
            presentation slides to poetry, and assess the overall development of my writing.
            I also include various works I have read that have had a lasting impact on me. 
        </p>
    </div>
</div>
<div *ngIf="phase == 'project'">
    <h2 class="m-0">Final Project</h2>
    <div class="p-container">
        <h4>2020</h4>
        <p></p>
    </div>
    <div>
        <p></p>
    </div>

</div>
<div *ngIf="phase == 'cited'">
    <h2>Works Cited</h2>
    <h4>Texts</h4>
    <ul>
        <li>proust</li>
        <li>landy</li>
        <li>paramo</li>
        <li>sight lines, arthur sze</li>
        <li>how to read proust</li>
    </ul>
    <h4>Images</h4>
</div>