<div *ngIf="phase =='start'" class="intro-container">
    <h3 class="m-0">Literature & Memory: ENGL 4710</h3>
    <h1 class="m-0">A Proustian Understanding of the Self</h1>
    <h3 class="m-0">Final Project by Ally Choung</h3>
    <div class="p-container">
        <h2 class="m-0">Introduction</h2>
        <p>This website documents my memories and experiences as a student in Northeastern's undergraduate English program. In light of my recent reading of Marcel Proust's <em>Swann's Way</em>, the first volume of his lifetime's work <em>In Search of Lost Time</em>, I will relate my experiences with .... through a Proustian framework of memory and understanding of the self.</p>
    </div>
</div>
<div *ngIf="phase == 'project'">
    <p>project here</p>
</div>
<div *ngIf="phase == 'cited'">
    <h2>Works Cited</h2>
    <h4>Texts</h4>

    <h4>Images</h4>
</div>