h1 {
    font-weight: 900;
    font-style: italic;
}

h3 {
    font-weight: 300;
    font-style: italic;
}

.p-container {
    margin-top: 1em;
    background-color: black;
    color: white;
    border-radius: 1em;
    padding: 2em;
}


.intro-container {
    margin-top: 3em;
}

.next-link {
    margin-left: auto;
}