<div class="">
    <h1 class="white text-centered">III. The Steeples</h1>
    <div class="pink">
        <h3><em>pink, the color of my childhood bedroom walls</em></h3>
        <div class="bedroom-wall">
            <div class="p-container frame-poem">
                <h3>Poetry Workshop, Fall 2022</h3>
                <p><em>Vulnerability is something I’m comfortable with</em></p> 
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;because I am scrutinized all the time</p>
                <p>When I seem pained you dash my leaves upon the concrete</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em>because I care too much about myself </em>and because you care for me, too</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You care.</p>
                <br/>
                <p><em>I’ve taken a bite of the moon </em></p>
                <p>I was born in a tomb</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;spent years waltzing in its nourishment</p>
                <p>My head has sprouted buds</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You never saw.</p>
                <br/>
                <p>Water me in ethanol
                </p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I feed to seeds I am meant to harbor
                </p>
                <p>Bring insecticide
                </p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;and a meadow blooms for you
                </p>
                <p>I absorb, I regenerate
                </p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You never saw it coming.
                </p>
                <br/>
                <p>You saunter in crevices, my hand close behind
                </p>
                <p></p>
                <p>because of you <em>I am always here, all the time</em>
                </p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I know you don’t feel the same way.
                </p>
                <br/>
                <p>Lines cited from our class activity are italicized.
                </p>
            </div>
            <div class="p-container frame-poem">
                <h3>Creative Writing, Spring 2023</h3>
                <h3>1</h3>
                <p>On Monday I shuffle through the door frame and head down the creaky stairs, late for class. Wind churns past my ears, too dry and too cold. The procession works its way through the streets, a tango of knit hats and hooded jackets, dancing just for me. 
                </p>
                <p>We fork at the T stop. We scurry across the street to the sound of car horns blaring. I break away from the crowd and dash up several floors, over steps of melted carpet and metal, minding the last step. While I reach the classroom, a few more stragglers follow behind. We sit in matted chairs with our heads wide open. My insides squirm and scramble.</p>
                <h3>2</h3>
                <p>The drywall is barren. A fan whirs above, sliding air down our faces. Spiders dangle from the ceilings. You squash them with the end of your broom. </p>
                <p>At times I feel I could be plucked from the ground like lost change. You met me and dropped me in your wallet. I crave recognition, sulking at the thought of times without. When you slam the door, chunks of drywall fall. </p>
                <h3>3</h3>
                <p>A mouse found shelter in my roommate’s cello. She carved beneath the baseboards, then gnawed through fabric and carbon fiber. Her scuttling and whimpering rattled the strings, loose from cold weather and lack of use. The instrument holds the mangled chords in his hollow body until he can’t any longer, as if he finds this situation embarrassing. All night, flat notes rang through the halls as wind whistled over the window screens.</p>
                <p>In the room next door, I laid still, wincing at each faint sound. The girl above me stomps and shouts. I wonder if I have the right to complain.</p>
                <h3>4</h3>
                <p>At fourteen I started drinking. Before fourteen, alcohol was understood through my mother’s evening beers and packed school assemblies. Alcohol was a middle-aged gym teacher, equipped with nothing but his warm-up voice and empty PowerPoints, telling us all the things we shouldn’t do with ourselves. By then I had grown tall enough to reach into high cabinets and help myself. At fifteen a bottle of vodka was a spear—a sharpened, glistening thing—and we sat in circles and watched ourselves glow.</p>
                <p>At nineteen I crouched in a public restroom, my abdomen screaming. A phone was held two inches from my face as I googled a cure. <em>How long do I have to wait, how to not die, will I wake up to my parents’ disappointment tomorrow.</em> My friends pulled me out of the stall and dragged me home.</p>
                <h3>5</h3>
                <p>Every morning you sit down and write. You have a page done by the time I leave to buy coffee. I return to find your screen empty. You don’t even have to tell me that it was too corny or incoherent trash or just unsuitable for you. I set your cup down on the desk. You can’t be bothered to look. I tell you to write. </p>
                <p>In the evening I lock the front door. You are still at your desk. And you call yourself a writer. I sit down at my desk and splatter words all over the pages. At the closing sentence, I fall asleep, laughing at you.</p>
                <h3>6</h3>
                <p>My mother, now old enough to be a grandmother, knits her way through her twelfth scarf of the year. When I get off the bus she is there on the lone bench, immediately rushing toward me. I meet my father later in the day, his face set in its usual expression. </p>
                <p>The new apartment is a drywall box, bearing few traces of home. My grandfather’s calligraphy hangs from the wall, alongside a photo of my brother on the beach. Dinner comes in heaping portions, outweighing what I ate last week alone. I stare at the dishes and the cutlery. The whole scene is foreign to me. In a moment I am back on the bus. I see my mother wave through the window, and then I am whisked away.</p>
            </div>
        </div>    
    </div>
    <div class="next-link animate__animated animate__fadeInUp">
        <a href="/p4">Click to continue</a>
    </div>    

</div>