.frame-poem p {
    margin: 2px;
    font-size: 16px;
}

.frame-poem {
    border: 10px solid rgb(215, 233, 154);
    overflow-y: auto;
    max-height: 30vh;
    background-color: white;
    color: #000000;
}

.column {
    width: 50%;
    padding: 1em;
}

.bedroom-wall {
    padding: 0 1em 2em 0;
    background-color: rgb(255, 224, 229);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.pink {
    background-color: rgb(255, 224, 229);
    padding: 2em 1em;
    margin-top: 10em;
    margin-bottom: 10em;
}

.weird-margin {
    margin-top: -10em;
}

.more-margin {
    margin-bottom: -10em;
}

.reflection {
    background-color: black;
    color: white;
}